MONGO_URI=
DB_NAME=autofilter
BOT_USERNAME=
SITE_NAME=Cinema HUB OG
SITE_TAGLINE=THE CINEMA EXPERIENCE, REIMAGINED
DEVELOPER_NAME=Cinema HUB OG Developer
DEVELOPER_USERNAME=thevisionaryoffc
TELEGRAM_CHANNEL=
TELEGRAM_GROUP=
